{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit {{ store.name }}</h1>
    {% else %}
        <h1>Add Store</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        {%if object %}
            <input type="submit" class="btn" value="Update Store">
        {% else %}
            <input type="submit" class="btn" value="Add Store">
        {% endif %}
    </form>
{% endblock %}